/* -*- coding: utf-8; mode: css -*-
 */

.reveal {
    color: #f6f6ff;
}

.reveal code {
    color: #e3ceab;
    font-family: monospace;
}

.reveal p, .reveal ul, .reveal ol {
    font-size: 0.8em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4 {
    color: #F9B837;
    text-transform: none;
}

.reveal h1 {
    font-size: 3.0em; }

.reveal h2 {
    font-size: 2.1em; }

.reveal h3 {
    font-size: 1.7em; }

.reveal h4 {
    font-size: 1.2em; }

